.analytics{
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 20px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 20px;
    .head_title{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }
    .hr{
        border: 1px solid #303238;
    }
    .group{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .group_title_{
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }
    }
}